/*The following media queries will allow the screen to be responsive*/
@media screen and (max-width: 640px) {
  body {
    width: 100%; 
    height: auto;
  }
 }
  
  @media screen and (max-width: 768px) { 
    body {
      width: 100%; 
      height: auto;
    }
   }
  
  @media screen and (max-width: 980px) { 
    body {
      width: 100%; 
      height: auto;
    }
   }